<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico ">

	<title>{{title}}</title>

	<script src="js/jquery-1.11.1.min.js "></script>
	<script src="js/apiscript.js "></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js "></script>
	<!--Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Raleway " rel="stylesheet ">

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css " rel="stylesheet ">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="css/ie10-viewport-bug-workaround.css " rel="stylesheet ">

	<!-- Custom styles for this template -->
	<link href="css/dashboard.css " rel="stylesheet ">

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js "></script><![endif]-->
	<script src="js/ie-emulation-modes-warning.js "></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js "></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js "></script>
    <![endif]-->


</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top blue ">
		<div class="container-fluid ">
			<div class="navbar-header ">
				<button type="button " class="navbar-toggle collapsed " data-toggle="collapse " data-target="#navbar
" aria-expanded="false " aria-controls="navbar ">
            <span class="sr-only ">Toggle navigation</span>
            <span class="icon-bar "></span>
            <span class="icon-bar "></span>
            <span class="icon-bar "></span>
          </button>
				<a class="navbar-brand " href="/ ">Kicks</a>
			</div>
			<div id="navbar " class="navbar-collapse collapse ">
				<ul class="nav navbar-nav navbar-right ">
					<li><a href="/ ">Dashboard</a></li>
					<li><a href="/settings ">Settings</a></li>
					<li><a href="/logout ">Logout</a></li>
				</ul>
				<form class="navbar-form navbar-right ">
					<input type="text " class="form-control " placeholder="Search... ">
				</form>
			</div>
		</div>
	</nav>

	<div class="container-fluid ">
		<div class="row ">


			<div class="col-sm-6 col-md-3 sidebar ">
				<!--------side bar ------>
		<a class="twitter-timeline " href="https://twitter.com/kicksbot501
		">Tweets by kicksbot501</a> <script async src="//platform.twitter.com/widgets.js " charset="utf-8 "></script>


			</div>




			<div class="col-sm-6 col-sm-offset-6 col-md-8 col-md-offset-3 main ">

				<div class="jumbotron ">

					<div class="container ">

						<div class="col-xs-8 ">

							<input id="add-textbox" class="form-control" id="url " type="text " placeholder="Input link">

						</div>

					</div>


					<div class='row' id='link-type' style="width:40%; margin-left:30px; margin-top:10px">
						<input type="text" id='keywords' name="keywords" placeholder="product keywords"><br>
						<input type="text" id='changed-keywords' name="keywords" placeholder="monitor keywords"><br>
					</div>
					<br/>
					<button type="button" class="btn btn-default" style="width:20%; margin-left:30px;" id='add-link'>Add Link</button>
					

				</div>
				<div>

				</div>

				<div class="row pull-right " style="width:400px ">
					<div class="col-xs-4 ">
						<button id='delete-slectedlinks' class='btn btn-xs btn-danger'>Delete selected links </button>
					</div>
					<div class="col-xs-4 ">
						<button id='delete-links' class='btn btn-xs btn-danger pull-left'>Delete all links </button>
					</div>
					<div class="col-xs-2 ">
						<button id='reset' class='btn btn-xs btn-primary pull-left'>Monitor</button>
					</div>
				</div>

				<h2 class="sub-header ">Monitored Links</h2>

				<div class="table-responsive " style="overflow-y: scroll; height: 400px; ">
					<table class="table table-striped ">
						<thead>
							<tr>
								
								<th>Keywords</th>
								<th>Monitor Keywords</th>
								<th>Link</th>


							</tr>
						</thead>
						<tbody id='table-data'>


						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js "><\/script>')</script>
	<script src="js/bootstrap.min.js "></script>
	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<script src="js/vendor/holder.min.js "></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="js/ie10-viewport-bug-workaround.js "></script>
</body>

</html>